<h1>Welcome to the Change-o-rama!</h1>
<form action="/change" method="get">
  <div class="form-group">
    <label for="amount">Amount Entered:</label>
    <input type="text" placeholder="$xx.xx" name="amount" id="amount" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Get Change</button>
</form>
